
.vscode/
__pycache__/
.pyvale
pyvale
examples/2d_thermal_dataset/sim-workdir-1/*
examples/monoblock_dataset/sim-workdir-1/*
.ipynb_checkpoints/
.test-env
notebook_dataset_generator.ipynb
best_model.pth
*.egg-info/
dist/
model_training.log
.package-testing
.testing-env/
